@{
    ViewData["Title"] = "Home";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <h3> New User:Please go to <a href="/Camera/Register">Register</a> </h3>
    <h3> Existing User:Please go to <a href="/Camera/Authenticate">Authenticate</a></h3>
</p>
